ul li {
  list-style-type: none;
  color: #ffffff;
}

ul {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.active {
  color: orange !important;
}
li.nav-item a {
  color: #ffffff;
  font-size: 1rem;
}
