<div class="home">
  <h2>Welcome to the ToDo Application in Angular</h2>

  <p>
    This Application is fully developed in Angular 20 with new concepts and below are the
    features/concepts we have done so far
  </p>

  <ul>
    <li>
      <h3>Part 1 (Project Setup and First component)</h3>
      <ul>
        <li>Install Angular CLI</li>
        <li>Create a new project</li>
        <li>Generate First component</li>
      </ul>
    </li>

    <li>
      <h3>Part 2 (Templates and Data Binding)</h3>
      <ul>
        <li>Install Angular CLI</li>
        <li>Create a new project</li>
        <li>Generate First component</li>
      </ul>
    </li>
    <li>
      <h3>Part 3 (Directives)</h3>
      <ul>
        <li>Install Angular CLI</li>
        <li>Create a new project</li>
        <li>Generate First component</li>
      </ul>
    </li>
  </ul>
</div>
