@if(id()){
<h3>Edit Task (Reactive form)</h3>
} @else {
<h3>New Task (Reactive form)</h3>
}

<form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <label>Title:</label>
        <input type="hidden" formControlName="id" />
      </td>
      <td>
        <input type="text" formControlName="title" minlength="3" />

        @if(form['title'].invalid){ @if(form['title'].errors?.['required'] && (form['title'].dirty
        || form['title'].touched)){
        <div class="error">Title is required</div>
        } @if(form['title'].errors?.['minlength']){
        <div class="error">Minimum 3 characters are required</div>
        } }
      </td>
    </tr>
    <tr>
      <td>
        <label>Description:</label>
      </td>
      <td>
        <textarea formControlName="description"></textarea>
        @if(form['description'].invalid){ @if(form['description'].errors?.['required'] &&
        (form['description'].dirty || form['description'].touched)){
        <div class="error">Description is required</div>
        } }
      </td>
    </tr>
    <tr>
      <td>
        <label>Status:</label>
      </td>
      <td>
        <select name="status" formControlName="status">
          <option value="">---Select---</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
        @if(form['status'].invalid){ @if(form['status'].errors?.['required'] &&
        (form['status'].dirty || form['status'].touched)){
        <div class="error">Please select status</div>
        } }
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        @if(id()){
        <button type="submit" [disabled]="taskFormGroup.invalid">Update Task</button>
        } @else { <button type="submit" [disabled]="taskFormGroup.invalid">Add New Task</button>}
      </td>
    </tr>
  </table>
</form>
